@font-face {
    font-family: 'Meddon';
    src: url('./Meddon/Meddon-Regular.ttf');
}

body {
  margin: 0px;
}

header {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbccd1;
}

nav {
  margin-bottom: 0.5em;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: Meddon;
  color: #521024;
  margin: 0px;
  margin-top: 0.5em;
}

#date {
  font-family: Meddon;
  color: #521024;
  margin: 0px;
}

a {
  color: #521024;
}

img {
  max-width: 100%; /* Ensures the image doesn't exceed the container width */
  height: auto; 
}
